<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <select id="sel_brand" v-model="searchData.selected.brand"
        @change="changeBrand">
            <option disabled selected> Selecciona Marca... </option>
            <option             
            v-for="brand in searchData.brands" :value="brand.brand_id">
                {{ brand.brand_description }}
            </option>
        </select>
        
        <select id="sel_model" v-model="searchData.selected.model"
        @change="changeModel(this)">            
            
            <option v-for="model in searchData.models" :value="model.model_id" :key="model.model_id">{{ model.model_description }}</option>
        </select>    

        <select id="sel_version" v-model="searchData.selected.year"
        @change="changeYear">
            <option v-for="year in searchData.years" :value="year.year_id" :key="year.id">
                {{ year.year_description }}
            </option>
        </select>   

        <select id="sel_year" v-model="searchData.selected.version"
        @change="activeButton">
            <option v-for="version in searchData.versions" :value="version.version_id" :key="version.id">
               {{version.id }} {{ version.version_description }}
            </option>
        </select>   

        <button :disabled="searchData.buttonDisabled"
        @click="sendToResult">Buscar</button>   
    </div>
    
</body>
<script src="js/main.js"></script>
</html>